# mujoco == 2.3.7
# mujoco-3.1.4-cp312-cp312-macosx_11_0_arm64.whl
mujoco-2.3.7-cp311-cp311-macosx_11_0_arm64.whl
gymnasium == 0.29.1
# gymnasium == 1.0.0a1  # use alpha to avoid niter bug
gymnasium-robotics == 1.2.4
