pytest
einops
numpy
seaborn
torch
torchvision
lightning
scikit-learn
# scikit-image
Levenshtein
lark     # parser
maturin  # build rust
pandas
tabulate

# egraphs-good
# ./eggy/target/wheels/eggy-0.1.0-cp37-abi3-macosx_11_0_arm64.whl
# ./eggy/target/wheels/eggy-0.1.0-cp37-abi3-linux_x86_64.whl

# pretrained LLMs + deps
tqdm
# git+https://github.com/huggingface/transformers.git@main
accelerate
datasets
sentence-transformers

openai
wandb
protobuf<=3.20.1  # fix wandb error
langchain

# opencv-python

# typing-inspect==0.8.0
# typing_extensions==4.5.0
# func_timeout
huggingface_hub

# adjustText
# networkx
# palettable
# nltk
# py-readability-metrics
# pygraphviz
# graph_tool  # install using brew

trl  # transformer rl
peft  # parameter efficient fine-tuning
# ribs[visualize]  # pyribs - quality diversity

# flash-attn
accelerate
bitsandbytes
nvidia-ml-py3

# lempel-ziv compression
# fastlz
