einops
numpy
seaborn
torch
torchvision
lightning
scikit-learn
scikit-image
Levenshtein
lark     # parser
maturin  # build rust
./eggy/target/wheels/eggy-0.1.0-cp37-abi3-macosx_11_0_arm64.whl
# ../eggy/target/wheels/eggy-0.1.0-cp37-abi3-linux_x86_64.whl
tqdm
pytorch-pretrained-bert boto3 requests regex sentencepiece sacremoses  # pretrained LLMs + deps
